<div>
    <script src="assets/js/github_heatmap.min.js">
    </script>
    <link rel="stylesheet" href="assets/css/github_heatmap.css" />
    <style>
        .js-calendar-graph {
            /* float: right; */
            /* display: flex; */
            /* direction: rtl; */
            /* overflow-x: scroll; */
            padding: 5px;
        }
    </style>
    <div class="calendar">
        <script>
            new GitHubCalendar(".calendar", "purhan", {
                responsive: true
            });
            $('.contrib-column').remove();
        </script>
    </div>
</div>